<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35841216629-9uvg5efpoom3iuj9dso9683da7h6llk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35841216629-9uvg5efpoom3iuj9dso9683da7h6llk0</string>
	<key>API_KEY</key>
	<string>AIzaSyCbaPbDnN1Dz4jxuEPddQJhwZVWPMIxKs8</string>
	<key>GCM_SENDER_ID</key>
	<string>35841216629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roseik.tictactoe.tictactoe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-dfc56</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-dfc56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35841216629:ios:92ec458d576cec0919e83c</string>
</dict>
</plist>